<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Elocals</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="row row-wrap" style="padding-top: 5%">
                <div class="col-md-8" id="billspill_video_height">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Wddxdupzn6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <h3><b>About Us</b></h3>
                    <p>We are driven by the excitement of building technologies, inventing products, and providing services that change our local shopping experience. We embrace new ways of doing things, make decisions quickly, and are not afraid to fail. We believe the internet is a great equalizing platform. We will provide offline shopping experience at your home hassle-free. 
We understand that in this fast-paced world, time is always of the essence and hence want to make your local shopping easy and convenient so that no time is wasted in this process. So, no more hassle of going down to the local stores and long queues for billing etc. You can browse through our varied range of products at elocals.in
</p>
                </div>
            </div>
</div>
</body>
</html>