<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Elocals</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="row">
	<div class="col-md-8 offset-md-2">
	 	<form th:action="@{/savesignup}" th:object="${user}" method="POST">
			
			<h2>REGISTER USER</h2>
			<div class="row  form-group">
			  <div class="col">
	              <label> <b>FirstName</b></label>
			      <input type="text"  name="firstName" placeholder=" Enter your firstname" class="form-control" required />
			  </div>
			  <div class="col">
			      <label><b>LastName</b></label>
			      <input type="text"  name="lastName" placeholder=" Enter your lastname" class="form-control" required />
	          </div>
	        </div>
			<div class="row form-group">
			  <div class="col">	
			   	<label><b>E-mail</b></label>
			 	<input type="text"  name="email" placeholder=" Enter your e-mail" class="form-control" required >
			  </div>
			</div>
			<div class="row  form-group">
			  <div class="col">
			  	<label><b>Enter Password</b></label>
			 	<input type="password"  name="password" placeholder=" Create New  password" class="form-control" required >
			  </div>
			  <div class="col">
			  	<label><b>Confirm Password</b></label>
			 	<input type="password"  name="confirmpassword" placeholder=" Confirm password" class="form-control" required >
			  </div>
			 </div>
			 <hr />
			<div class="row  form-group">
				<div class="col">
				   <button type="submit" class="btn btn-success"><b>Signup</b></button>
				</div>
			</div>
			
		</form>
	
	</div>
</div>

</div>
</body>
</html>


